*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
}
a{
  all: unset;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*------------------HOME SCREEN--------------------*/


.HomeScreen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HomeInfo{
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.HomeInfo h1{
  color: #dd1a1a;
}

.HomeInfo form{
  width: 500px;
  display: flex;
  justify-content: center;
  
}

.HomeInfo input{
  height: 50px;  
  width: 70%;
  border: none;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 10px;
  color: #8f8f8f;
}

.HomeInfo button{
  width: 30%;
  height: 50px;
  background-color: #dd1a1a;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.HomeInfo button:hover{
  background-color: #131313;
}

.HomeFooter{
  width: 100%;
  left: 0;
  bottom: 0;
}

.HomeFooter img{
  position: absolute;
  bottom: 0;
}

/*------------------POKEDEX HEADER--------------------*/


.AppDashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.HeaderDashboard{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.RedLine{
  height: 120px;
  width: 100%;
  background-color: #dd1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoContainer{
  max-width: 1380px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 35px;
}

.LogoContainer img{
  position: absolute;
  top: 55px;
}

.BlackLine{
  height: 75px;
  width: 100%;
  background-color: #131313;

  display: flex;
  justify-content: center;
}

.IconContainer{
  max-width: 1450px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
}

.IconContainer img{
  position: absolute;
  top: 100px;
}

/*------------------POKEDEX INPUT--------------------*/

.InputContainer{
  display: flex;
  justify-content: center;
  padding: 35px;
  gap: 32px;
}

.InputName{
  width: 50%;
}

.InputName input{
  height: 50px;  
  width: 70%;
  border: none;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 10px;
  color: #8f8f8f;
}

.InputName button{
  width: 30%;
  height: 50px;
  background-color: #dd1a1a;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.InputName button:hover{
  background-color: #131313;
}


.InputType{
  width: 50%;
}

#types{
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}



/*------------------POKEDEX DASHBOARD--------------------*/

.PokedexDashboard{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1380px;
}

.WelcomeDashboard{
  display: flex;
  padding: 35px;
}

.WelcomeDashboard span{
  color: #dd1a1a;
  text-transform: capitalize;
}

.PokemonGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

/*------------------POKEMON CARD--------------------*/

.PokemonCard{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  border: 15px solid black;
  border-radius: 15px;
  margin: 25px 15px;  
  cursor: pointer;
}

.PokemonCard:hover{
  transform: scale(1.08);
  transition: .3s ease-out;
}


.ImgCard{
  z-index: 2;
}

.ImgCard img {
  margin-bottom: -75px;
  width: 75%;
  padding: 15px;
}

.InfoCard {
  background-color: white;
  width: 100%;
  padding: 50px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}


.Stats{
  display: flex;
  justify-content: center;
  gap: 75px;
}

.StatsRow1,
.StatsRow2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Stat{
  font-size: 18px;
  margin: 10px;
}

.Stat span{
  font-weight: bold;
}


/*------------------POKEMON INDIVIDUAL--------------------*/

.PokemonIndividualContainer{
  background-color: #e7e7e7;
}

.PokemonIndividual{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 150px 75px 50px 75px;
  padding: 0 0 50px 0;
  background-color: white;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.InfoPicture{
  width: 100%;
  height: 120px;
}

.InfoPicture img{
  margin-top: -120px;
}

.PokemonIndividual h1{
  text-transform: capitalize;
  display: inline-block;
  position: relative;
}

h1::after, h1::before{
  content: "";
  position: absolute;
  width: 210px;
  height: 2px;
  background-color: rgb(172, 172, 172);
  top: 0.8em;
}

h1::before{
  left: -220px;
}

h1::after{
  right: -220px;
}

.PokemonID{
  border: 1px solid black;
  padding: 5px;
}

.InfoName{
  display: flex;
  gap: 32px;
}

.InfoTypeHabs{
  display: flex;
  gap: 60px;
  justify-content: center;
  width: 100%;
}

.Tipo, .Habilidades{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.TipoContainer, .HabsContainer{
  display: flex;
  gap: 16px;
}

.TipoContainer p{
  padding: 2px 35px;
  color: white;
  text-transform: capitalize;
}

.TipoContainer p:nth-child(1){
  background-color: aquamarine;
}

.TipoContainer p:nth-child(2){
  background-color: purple;
}

.HabsContainer p{
  padding: 2px 35px;
  border: 1px solid black;
  text-transform: capitalize;
}

.InfoStats{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  margin-top: 25px;
}

.StatsContainer{
  display: flex;
  justify-content: center;
  font-size: 25px;
  gap: 100px;
}

.InfoMovements{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 0 75px 50px 75px;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.InfoMovements h2{
  margin: 10px;
  position: relative;
}

.InfoMovements h2::after{
  content: "";
  width: 80%;
  height: 1px;
  background-color: #d1d1d1;
  position: absolute;
  top: 0.8em;
  left: 150px;
}

.MovementsContainer{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap
}

.MovementsContainer p{
  padding: 7px 25px;
  margin: 7px;
  background-color: #e2e2e2;
  border-radius: 30px;
}

.ButtonReturn{
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  width: 100%;
  margin: 50px 75px -75px 75px;
  justify-content: flex-start;
  cursor: pointer;
  color: #dd1a1a;
}

.ButtonReturn h2:nth-child(2){
  margin-top: -10px;
}

.ButtonReturn:hover{
  color: black;
}